@using Microsoft.AspNetCore.Components.Forms
@inherits InputBase<string>
@using Services

<div class="NameInputComp">
    <div class="labelDiv">
        <label>@LabelValue</label>
    </div>

    <div class="inputDiv">
        <input type="text" class="form-input" value="@CurrentValue" @oninput="OnInputValueChanged"
            placeholder="@InputTextPlaceholder" id="inputTextId" disabled="@IsDisabled" readonly="@Isreadonly" />
    </div>

    <div class="errorMessage">
        @if (@DisplayErrorMessage)
        {
            <label>@ErrorMessage</label>
        }
    </div>
</div>

@code {

    [Parameter]
    public string LabelValue { get; set; }

    [Parameter]
    public string InputTextValue { get; set; }

    [Parameter]
    public EventCallback<string> InputTextChanged { get; set; }

    [Parameter]
    public string InputTextPlaceholder { get; set; }

    [Parameter]
    public string InputTextId { get; set; }

    [Parameter]
    public bool Isreadonly { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }


    private bool IsValidCommunicationAddress(string address)
    {
        // Check if the address is not empty
        if (string.IsNullOrWhiteSpace(address))
        {
            return false;
        }

        // Define allowed characters including digits, spaces, and specific special characters
        string allowedCharacters = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789@,#.";

        // Check if all characters in the address are allowed
        foreach (char c in address)
        {
            // Check if the character is allowed
            if (!allowedCharacters.Contains(c))
            {
                return false;
            }
        }

        return true;
    }



    private async Task OnInputValueChanged(ChangeEventArgs args)
    {
        string newValue = args.Value.ToString().Trim(); // Trim any leading or trailing spaces

        if (!string.IsNullOrEmpty(newValue) && IsValidCommunicationAddress(newValue))
        {
            // Accept the input
            CurrentValue = newValue;
            DisplayErrorMessage = false;
            await InputTextChanged.InvokeAsync(CurrentValue);
        }
        else
        {
            // Display error message for invalid input
            ErrorMessage = "Invalid communication address.";
            DisplayErrorMessage = true;
            StateHasChanged();

            await Task.Delay(2000);
            ErrorMessage = string.Empty;
            DisplayErrorMessage = false;
        }
    }



    protected override bool TryParseValueFromString(string value, out string result, out string validationErrorMessage)
    {
        result = value;
        validationErrorMessage = null;
        return true;
    }

    [Parameter]
    public bool DisplayErrorMessage { get; set; }

    [Parameter]
    public string ErrorMessage { get; set; }
}