@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using Services

<div class="labelDiv">
  <label>@LabelName</label>
</div>
<div class="social_input_container">
  <input class="fields" @bind="@InputValue" disabled="@IsDisabled" readonly="@IsReadOnly" @oninput="OnInput" />
  <img src=@ImagePath class="social_media_icon" />
</div>
<div class="errorMessage">
  @if (@DisplayErrorMessage)
  {
    <label>@ProfileValidationMessage</label>
  }
</div>

@code {

  [Parameter]
  public string? LabelName { get; set; }

  [Parameter]
  public string? InputValue { get; set; }

  [Parameter]
  public bool? IsReadOnly { get; set; }
  [Parameter]
  public bool? IsDisabled { get; set; }

  [Parameter]
  public string? ImagePath { get; set; }

  [Parameter]
  public string? SocialMediaName { get; set; }

  [Parameter]
  public bool DisplayErrorMessage { get; set; }

  [Parameter]
  public string? ProfileValidationMessage { get; set; }

  [Parameter]
  public EventCallback<ChangeEventArgs> OnInput { get; set; }
}